:root ._display-flex{display:flex;}
:root ._alignItems-stretch{align-items:stretch;}
:root ._flexDirection-column{flex-direction:column;}
:root ._boxSizing-border-box{box-sizing:border-box;}
:root ._position-relative{position:relative;}
:root ._minHeight-0px{min-height:0px;}
:root ._minWidth-0px{min-width:0px;}
:root ._flexGrow-1{flex-grow:1;}
:root ._flexShrink-1{flex-shrink:1;}
:root ._flexBasis-auto{flex-basis:auto;}
:root ._gap-20px{gap:20px;}
:root ._flexShrink-0{flex-shrink:0;}
:root ._display-inline{display:inline;}
:root ._wordWrap-break-word{word-wrap:break-word;}
:root ._marginTop-0px{margin-top:0px;}
:root ._marginRight-0px{margin-right:0px;}
:root ._marginBottom-0px{margin-bottom:0px;}
:root ._marginLeft-0px{margin-left:0px;}
:root ._color-675002279{color:var(--color);}
:root ._borderTopColor-2122800589{border-top-color:var(--borderColor);}
:root ._borderRightColor-2122800589{border-right-color:var(--borderColor);}
:root ._borderBottomColor-2122800589{border-bottom-color:var(--borderColor);}
:root ._borderLeftColor-2122800589{border-left-color:var(--borderColor);}
:root ._borderTopWidth-0px{border-top-width:0px;}
:root ._borderRightWidth-0px{border-right-width:0px;}
:root ._borderBottomWidth-1px{border-bottom-width:1px;}
:root ._borderLeftWidth-0px{border-left-width:0px;}
:root ._height-0px{height:0px;}
:root ._maxHeight-0px{max-height:0px;}
:root ._borderBottomStyle-solid{border-bottom-style:solid;}
:root ._borderTopStyle-solid{border-top-style:solid;}
:root ._borderLeftStyle-solid{border-left-style:solid;}
:root ._borderRightStyle-solid{border-right-style:solid;}
:root ._transform-d0t1394298074{transform:translateY(-0.5px);}
:root ._flexDirection-row{flex-direction:row;}
:root ._paddingTop-6px{padding-top:6px;}
:root ._paddingRight-6px{padding-right:6px;}
:root ._paddingBottom-6px{padding-bottom:6px;}
:root ._paddingLeft-6px{padding-left:6px;}
:root ._rowGap-6px{row-gap:6px;}
:root ._fontWeight-700{font-weight:700;}
:root ._fontSize-8px{font-size:8px;}
:root ._lineHeight-12px{line-height:12px;}
:root ._color-66708535{color:#667085;}
:root ._gap-true{gap:true;}
:root ._gap-1481558152{gap:var(--space-9);}
:root ._justifyContent-flex-end{justify-content:flex-end;}
:root ._zIndex-10{z-index:10;}